<div class="section pt-4 px-3 px-lg-4" id="quemsou">
  <div class="container-narrow">
    <div class="row">
      <div class="col-md-6">
        <h2 class="h4 my-2">Ola! Eu, sou Luis Jorge Nhacanhaca.</h2>
        <p>Eu sou apaixonado por UI/UX design e Web Design. Sou um desenvolvedor front-end conhecedor de ferramentas de design gráfico, como Photoshop, Adobe XD. Sou um aprendiz rápido e gosto de trabalhar em equipa. Posso capitalizar facilmente os frutos mais fáceis e maximizar rapidamente as entregas oportunas para esquemas em tempo real.</p>
        <div class="row mt-3">
          <div class="col-sm-2">
            <div class="pb-1">Idade:</div>
          </div>
          <div class="col-sm-10">
            <div class="pb-1 fw-bolder">32</div>
          </div>
          <div class="col-sm-2">
            <div class="pb-1">Email:</div>
          </div>
          <div class="col-sm-10">
            <div class="pb-1 fw-bolder">luis.jnhacanhaca@gmail.com</div>
          </div>
          <div class="col-sm-2">
            <div class="pb-1">Skype:</div>
          </div>
          <div class="col-sm-10">
            <div class="pb-1 fw-bolder">@skype.com</div>
          </div>
          <div class="col-sm-2">
            <div class="pb-1">Telefone:</div>
          </div>
          <div class="col-sm-10">
            <div class="pb-1 fw-bolder">+258 843610138</div>
          </div>
          <div class="col-sm-2">
            <div class="pb-1">Endereço:</div>
          </div>
          <div class="col-sm-10">
            <div class="pb-1 fw-bolder">Tete, Mozambique</div>
          </div>
          <div class="col-sm-2">
            <div class="pb-1">Estado:</div>
          </div>
          <div class="col-sm-10">
            <div class="pb-1 fw-bolder">Disponivel</div>
          </div>
        </div>
      </div>
      <div class="col-md-5 offset-md-1" data-aos="fade-left" data-aos-delay="100"><img class="avatar img-fluid mt-2" src="/assets/images/avatar_2.jpg" width="400" height="400" alt="Walter Patterson"/></div>
    </div>
  </div>
  </div>
